* {
    -fx-font: normal bold 12px 'monospace';
}

HBox {
    -fx-background-color: cadetblue;
}

VBox {
    -fx-background-color: azure;
}

Button {
    -fx-background-color: azure ;
}

TextField {
    -fx-background-color: azure ;
}